<!DOCTYPE html>
<html>
<head>
	<title>chain test</title>
</head>
<body>
<a href="#" id="button">button</a>

<script src="/assets/jquery.js"></script>
<script src="/assets/chain.js"></script>
<script src="/assets/chain_test.js"></script>
</body>
</html>

